body{
    background-color:rgb(215, 197, 197);
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
div{
    width: 50%;
    margin-top: 100px;
    align-items: center;
    margin-left: 25%;
}

#image{
    width: 100%;
    border: 5px  solid rgb(190, 125, 125);
   
 
}
#family{
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(93, 74, 52);
    text-align: center;

}
